<h1>Admin User Management</h1>
<%= paginate @users %>
<%= link_to "Add new user", new_user_path %>
<% @users.each do |user| %>
<h2><%= user.full_name %></h2>
<h3><%= user.email %></h3>
<div>----------------------------------</div>
<% end %>
